# Ignore all video files
*.mp4
*.mov
*.avi
*.mkv
*.wmv
*.flv
*.webm
*.m4v
*.3gp
*.mpg
*.mpeg
*.m2v
*.ogv

# Ignore test outputs
*_TEST_compressed*

# Ignore compressed outputs
*_compressed*

# Ignore logs
output_logs*.txt
OutputLogs/
